<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about">
        <h2>A little about me</h2>
        <p>I was born and raised in Germany and moved to Japan in 2016. Before transitioning into tech this year, I was doing research on social inequalities as both an undergraduate student and later a research student at Yokohama National University in Yokohama, Japan.<br>
           In the future, I hope to connect the spaces of Computer Science and Sociology and leverage my technical skills to promote social change.</p>
      </div>
    </div>
  </div>
</div>
