<div class="container">
  <div id="about" class="mb-5">
    <h2>A little about me</h2>
    <p>I was born and raised in Germany and first came to Japan for a working holiday in 2016.<br>
      Before breaking into the tech industry this summer, I was doing research on social inequalities as both an undergraduate student and later a research student at Yokohama National University.<br>
      In the future, I hope to connect the spaces of Computer Science and Sociology and leverage my technical skills to promote social change.<br>
    </p>
  </div>
</div>
