<div class="banner">
  <div class="container">
    <div class="banner-content">
      <div class="banner-text">
        <h6>Hi, my name is
          <h1>Carla Willmes.</h1>
          <p>I'm a Software Engineer based in Tokyo, Japan.<br>
            Check out my latest projects below!</p>
          <a class="btn btn-flat" href="#projects">More</a>
        </div>
        <div class="banner-img">
          <%= image_tag 'profile.jpg', alt: "profile photo", class: 'avatar' %>
        </div>
      </div>
    </div>
  </div>
