<div class="banner">
  <div class="container">
    <div class="banner-content">
      <div class="banner-text">
        <h1>Hello!</h1>
        <p>My name is Carla Willmes. I'm a Software Engineer from Germany with a background in the Social Sciences. Feel free to check out my work below!</p>
        <p>📍 Tokyo, Japan</p>
        <a class="btn btn-flat" href="#projects">More</a>
      </div>
      <div class="banner-img">
        <%= image_tag 'profile.jpg', alt: "profile photo", class: 'avatar' %>
      </div>
    </div>
  </div>
</div>
