<div class="container">
  <div id="projects">
    <h2> Projects</h2>
    <div class="cards">
      <% data.projects.each do |project| %>
        <div class="card-trip">
          <%= image_tag project.image, alt: "project image" %>
          <div class="card-trip-infos">
            <h2><%= project.name %></h2>
            <p><%= project.description %></p>
            <p><strong>Built with: </strong><%= project.stack %></p>
            <% link_to project.url, class: 'btn btn-slim', target: '_blank' do %>
              View
            <% end %>
            <% link_to project.gh, class: 'btn btn-slim', target: '_blank' do %>
              GitHub
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
