<div class="container">
  <div id="tech-stack">
    <h2>My tech stack</h2>
    <div class="icon-row">
      <i class="devicon-html5-plain-wordmark colored"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain colored"></i>
    </div>
    <div class="icon-row">
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-ruby-plain-wordmark colored"></i>
      <i class="devicon-rails-plain-wordmark colored"></i>
    </div>
    <div class="icon-row">
      <i class="devicon-sqlite-plain colored"></i>
      <i class="devicon-postgresql-plain-wordmark"></i>
      <i class="devicon-heroku-original-wordmark colored"></i>
      <div class="icon-row">
        <i class="devicon-webpack-plain-wordmark colored"></i>
        <i class="devicon-git-plain-wordmark colored"></i>
        <i class="devicon-github-original-wordmark"></i>
      </div>
      <div class="icon-row">
        <i class="devicon-slack-plain-wordmark"></i>
        <i class="devicon-figma-plain colored"></i>
      </div>
    </div>
  </div>
</div>
