.banner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.banner-text {
  max-width: 400px;
  color: #F2F4F3;

  h1 {
    font-family: 'Shrikhand', cursive;
    font-size: 56px;
  }
}
