.banner {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.banner-content {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.banner-text {
  color: #F2F4F3;
  max-width: 400px;

  h1 {
    font-size: 56px;
  }
}

@media (max-width: 700px) {
  .banner-content {
    display: block;
  }

  .banner-text {
    text-align: center;
    padding-bottom: 50px;
    max-width: unset;
  }

  .banner-img {
    text-align: center;
  }
}
