// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "banner";
@import "button";
@import "cards";
@import "form_legend_clear";
@import "navbar";
@import "skills";

body {
  background: rgb(0,0,0);
  background: linear-gradient(110deg, rgba(0,0,0,1) 0%, rgba(14,12,12,1) 40%, rgba(52,52,52,1) 100%);
  color: white;

  h1, h2 {
    font-family: 'Shrikhand', cursive;
  }

  h2 {
    padding-bottom: 16px;
  }

  p {
    font-family: "Poppins";
  }
}

.about {
  display: flex;
  justify-content: center;
  gap: 56px;
}

@media (max-width: 900px) {
  .about {
  display: block;
  text-align: center;
  }
}
