#skills {
  width: fit-content;
  min-width: 280px;

  i {
  font-size: 88px;
  }
}

.icon-row {
  padding-bottom: 24px;
}

@media (max-width: 900px) {
  #skills {
    width: unset;
    margin-top: 3rem!important;
  }
}
